.Order {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    transition: all .4s;
}

/* .Order:hover {
    background-color: rgba(245, 202, 167, 0.493);
} */